<div class="table-responsive">
  <table id="ordersList" class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Time</th>
        <th>#</th>
        <th>Amnt</th>
        <th>PPC</th>
        <th>Curr</th>
        <th></th>
      </tr>
    </thead>
    <tbody style="font-size: smaller;">
      <% @orders.each do |order| %>
        <%= content_tag(:tr, id: "order_#{order['id']}", class: order_css_class(order)) do %>
          <td><%= Time.at(order['at']).to_s(:db) %></td>
          <td><%= order['id'] %></td>
          <td><%= order['amount'] %></td>
          <td><%= order['ppc'] %></td>
          <td><%= order['currency'] %></td>
          <td><%= link_to '&times;'.html_safe, order_path(id: order['id']), method: 'delete', remote: true %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
