<div class="col-lg-4">
  <table id="okcoin-account-balance" class="table table-condensed table-hover">
    <thead>
      <tr><th>Balance</th><th>CNY</th><th>BTC</th></tr>
    </thead>
    <tbody>
      <tr>
        <td><%= okcoin_client.account_id %></td>
        <td id="usdBalance"><%= number_to_currency @account.cny, unit: 'CN¥' %></td>
        <td id="btkBalance"><%= @account.btc %></td>
      </tr>
    </tbody>
  </table>

  <section id="sectionAccountEdit">
    <%= form_tag okcoin_account_path, method: 'put', class: 'form', role: 'form' do %>
      <div class="form-group">
        <label for="inputEmail3" class="control-label">API ACCESS KEY</label>
        <div class="">
          <input type="text" class="form-control" id="inputEmail3" placeholder="access key" name="access_key" autofocus="autofocus">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="control-label">API SECRET KEY</label>
        <div class="">
          <input type="text" class="form-control" id="inputPassword3" placeholder="secret key" name="secret_key">
        </div>
      </div>
      <div class="form-group">
        <div>
          <%= button_tag 'Update', type: 'submit', class: 'btn btn-primary', disable_with: 'Updating...' %>
          <%= link_to 'Close', root_path, class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </section>
</div>
