<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'WebSocketLakeBTC' %>
  <% # FIXME: use dynamic script include tag %>
  <%= javascript_include_tag 'https://d3dy5gmtp8yhk7.cloudfront.net/2.1/pusher.min.js' %>
  <%= csrf_meta_tags %>
  <script>
  function renderAlert(msg, _type) {
    var type = _type || 'alert-success';
    var alert = [
      '<div id="tradeAlert" role="alert" class="navbar-fixed-top alert ' + type + ' alert-dismissible fade in">',
        '<button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>',
        msg,
      '</div>'
    ].join('');
    $(alert).appendTo('body').fadeOut(2500, function() { $('#tradeAlert').remove(); });
  }

  jQuery(function() {
    /*
     * ajax events hooks
     *
     * ajax hook: started order delete request
     */
    var isBitstampOrderDelete = function(settings) {
      return (settings.type === 'DELETE')
        && RegExp('/bitstamp/orders').test(settings.url);
    };
    var isLakeOrderDelete = function(settings) {
      return (settings.type === 'DELETE')
        && RegExp('/orders').test(settings.url);
    };
    var disableDeleteBtn = function(selector) {
      if ( ! selector.size() ) { return; }
      selector.removeClass('danger', 'success').addClass('warning');
      selector.find('a[data-method="delete"]').hide();
    };

    $(document).ajaxSend(function(event, xhr, settings) {
      if ( isBitstampOrderDelete(settings) ) {

        var id = settings.url.match(/^\/bitstamp\/orders\/(\d+)/)[1];
        disableDeleteBtn($('#bitstamp_order_' + id));

      } else if ( isLakeOrderDelete(settings) ) {

        var id = settings.url.match(/^\/orders\/(\d+)/)[1];
        disableDeleteBtn($('#order_' + id));
      }
    });

    /* ajax hook: completed with success order delete request */
    $(document).ajaxSuccess(function(event, xhr, settings) {
      if ( isBitstampOrderDelete(settings) ) {
        window.TradeBitstampProxy.redrawBalance();
      }
    });

    /*
     * set up order amount
     */
    $('#orderAmount, #bitstamp-order-amount').change(function(event) {
      var _this = $(this), newVal = parseFloat(_this.val());
      if ( newVal > 0 ) {
        _this.val(newVal);
        _this.data('value', newVal);
      }
    });
  });
</script>
</head>
<body id="<%= body_page_id %>">
  <nav role="navigation" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container" style="margin: 0;">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand"><kbd id="orderbook-current-price" class="lead">370.00 USD</kbd></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li class="<%= current_page?('/') ? 'active' : '' %>"><%= link_to 'Trade', root_path %></li>
          <li class="<%= current_page?('/account/edit') ? 'active' : '' %>"><%= link_to 'Account', edit_account_path %></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>
</body>
</html>
