<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'WebSocketLakeBTC' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav role="navigation" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container" style="margin: 0;">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand"><kbd id="orderbook-current-price" class="lead">370.00 USD</kbd></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li class="<%= current_page?('/') ? 'active' : '' %>"><%= link_to 'Trade', root_path %></li>
          <li class="<%= current_page?('/account/edit') ? 'active' : '' %>"><%= link_to 'Account', edit_account_path %></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>
</body>
</html>
